@model MVC_Test.Models.Crew

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Crew</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Has_Role.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Has_Role.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Schedule.text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Schedule.text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalHours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
