@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/Images/Cloudbass-Logo.png" alt="..." style="margin-top:0px" height="150" width="900" />

</div>

<div class="row">


    <div class="col-md-3">
        <div class=" thumbnail">
            <div class=" panel panel-primary" style=" height:450px !important">
                <div class=" panel-heading">
                    <h3 class=" panel-title "> Dashboard</h3>
                </div>

                <i class="fa fa-archive" style=" margin-top: 20px; margin-left :30%; font-size:100px; color:dodgerblue"></i>
                <div class=" caption">
                    <h3>Jobs & Schedules</h3>
                    <hr />
                    <ul>
                        @*<li><a href="~/examples/grid/ajax-sourced-data.html" target="_blank">Ajax Sourced Data</a></li>*@
                        @*<li><a href="~/examples/grid/bootstrap-grid-inline-edit.html" target="_blank">Inline Editing</a></li>*@
                        <li> <a href="@Url.Action("Index", "Orders")" target="_blank"> Add New Job</a></li>
                        <li> <a href="@Url.Action("Index", "ScheduleD")" target="_blank"> Add New Schedule</a></li>
                        <li><a href="~/examples/grid/job.html" @*class="fa fa-exclamation-circle"*@ target="_blank">Job Grids</a></li>
                        <li><a href="~/examples/grid/hasrole.html" @*class="fa fa-exclamation-circle"*@ target="_blank">Role Grids</a></li>
                        @*<li> <a href="@Url.Action("Index", "JobD")" target="_blank"> Add New Job</a></li>*@

                    </ul>
                </div>
            </div>

        </div>

    </div>

    <div class="col-md-3">
        <div class=" thumbnail">
            <div class=" panel panel-primary" style=" height:450px !important">
                <div class=" panel-heading">
                    <h3 class=" panel-title "> Dashboard</h3>
                </div>
                <i class="fa fa-group" style=" margin-top: 20px; margin-left :30%; font-size:100px; color:red"></i>
                <div class=" caption">
                    <h3>Users Management</h3>

                    <hr />
                    <ul>
                        <li> <a href="@Url.Action("Index", "EmployeeD")" target="_blank"> Employee Grids</a></li>

                        <li> <a href="@Url.Action("Index", "RoleD")" target="_blank"> Add New Role</a></li>
                        <li> <a href="@Url.Action("Index", "Has_RoleD")" target="_blank"> Assign Staff's Role</a></li>
                        <li> <a href="@Url.Action("Index", "BookingCrewD")" target="_blank"> Assign Crew</a></li>
                        @*<li><a href="~/examples/tree/bootstrap-treeview-checkbox.html" target="_blank">Checkboxes</a></li>
                            <li><a href="~/examples/tree/treeview-drag-and-drop.html" target="_blank">Drag And Drop</a></li>
                            <li><a href="~/examples/tree/treeview-lazy-loading.html" target="_blank">Lazy Loading</a></li>*@
                    </ul>
                </div>
            </div>

        </div>

    </div>



    <div class="col-md-3">
        <div class=" thumbnail">
            <div class=" panel panel-primary" style=" height:450px !important">
                <div class=" panel-heading">
                    <h3 class=" panel-title "> Dashboard</h3>
                </div>
                <i class="	fa fa-bus" style=" margin-top: 20px; margin-left :30%; font-size:100px; color:darkblue"></i>
                <div class=" caption">
                    <h3>Fleets Management</h3>

                    <hr />
                    <ul>
                        <li> <a href="@Url.Action("Index", "FleetBookingD")" @*class="fa fa-exclamation-circle"*@ target="_blank"> Fleets Grids</a></li>
                        @*<li><a href="~/examples/tree/bootstrap-treeview-checkbox.html" target="_blank">Checkboxes</a></li>
                            <li><a href="~/examples/tree/treeview-drag-and-drop.html" target="_blank">Drag And Drop</a></li>
                            <li><a href="~/examples/tree/treeview-lazy-loading.html" target="_blank">Lazy Loading</a></li>*@
                    </ul>
                </div>
            </div>

        </div>

    </div>


    <div class="col-md-3">
        <div class=" thumbnail">
            <div class=" panel panel-primary" style=" height:450px !important">
                <div class=" panel-heading">
                    <h3 class=" panel-title "> Dashboard</h3>
                </div>
                <i class="fa fa-bed" style=" margin-top: 20px; margin-left :30%; font-size:100px; color:black"></i>
                <div class=" caption">
                    <h3>Hotel Booking</h3>

                    <hr />
                    <ul>
                        <li> <a href="@Url.Action("Index", "HotelBookingD")" @*class="fa fa-exclamation-circle"*@ target="_blank"> Hotel Grids</a></li>
                        @*<li><a href="~/examples/tree/bootstrap-treeview-checkbox.html" target="_blank">Checkboxes</a></li>
                            <li><a href="~/examples/tree/treeview-drag-and-drop.html" target="_blank">Drag And Drop</a></li>
                            <li><a href="~/examples/tree/treeview-lazy-loading.html" target="_blank">Lazy Loading</a></li>*@
                    </ul>
                </div>
            </div>

        </div>

    </div>

</div>







