@*Models are in partial views.*@

@section header {

}

@{
    ViewBag.Title = "Edit Job Information";
}

<div class="row">
    <div class="col-md-12">
        <h2>Edit Job Information</h2>
    </div>
</div>

<div id="EditCustomerPartial">
    @Html.Action("EditJobPartial", new { id = Url.RequestContext.RouteData.Values["id"] })
</div>

<div id="SelectAddressTypePartial">
    @Html.Action("BookingTypePartial", new { id = Url.RequestContext.RouteData.Values["id"] })
</div>

<div id="CreateBooking"></div>

<div class="row">
    <div class="form-group">
        <div class="col-md-12">
            <hr />
            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryunobtrusive") @*For unobtrusive-ajax*@
    @Scripts.Render("~/bundles/jqueryval") @*For validate and validate-unobtrusive*@

   
}
