@model MVC_Test.ViewModels.JobScheduleRoleViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Has_Role/_JobScheduleRoleLayout.cshtml";
}

@section Job{




    <h2>Job info</h2>
    @*<p> <strong>Client Name:</strong> @Model.Job.Client.Name </p>*@
    <p> <strong>Job Name:</strong> @Model.Job.text </p>
    <p> <strong>Job Number:</strong> @Model.Job.Id </p>
    <p> <strong>Coordinator:</strong> @Model.Job.Coordinator </p>
    <p> <strong>Job Location:</strong> @Model.Job.Location </p>
}

@section Has_Role{


    <h2>@Model.Has_Role.Role.Name</h2>
    <h2>@Model.Has_Role.StartTime</h2>
    <h2>@Model.Has_Role.EndTime</h2>

}

@*<dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employee.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

    </dl>*@

<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
